div.job-intro {
	margin-bottom: 3ex;
}

button.job-button {
	width: 140px !important;
  	font-size: smaller;
	padding: 4px;
	margin-left: 1em;
}

button.job-button-disabled {
	opacity: 0.6;
	cursor: not-allowed !important;
	border-bottom: 1px dotted;
}

button.job-button-disabled .tooltip {
	visibility: hidden;
    display: block;
    font-size: smaller;
    width: 20em;
    margin-left: -10em;
	border: 1px solid;
    text-align: center;
    border-radius: 2px;
    padding: 3px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
}

button.job-button-disabled .tooltip ul {
    margin-left: 5px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
    text-align: left;
}

button.job-button-disabled .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

button.job-button-disabled:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
}

.job-results-items {
	color: cyan;
}

div.job-requirements {
	display: inline-block;
}

.job-requirements > * {
	margin-left: 0.25em;
	margin-right: 0.25em;
}
