ul.choices-strip {
    list-style-type: none;
	display: inline;
	margin: 0pt;
	margin-left: 0pt;
	padding: 0pt;
}

ul.choices-strip li {
    display: inline-block;
}

ul.choices-strip li + li:before {
    content: "|";
	margin-left: 0.3em;
	margin-right: 0.3em;
}

a.disabled {
    color: grey;
    pointer-events: none;
    cursor: default;
}
