table.store-inventory-table col.name {
	width: 420px;
}

table.store-inventory-table col.quantity {
	width: 80px;
	font-size: smaller;
	text-align: center;
}

table.store-inventory-table col.price {
	width: 60px;
	font-size: smaller;
	text-align: center;
}

table.store-inventory-table col.buy {
	width: 180px;
	text-align: center;
}

table.store-inventory-table col.examine {
	width: 80px;
	text-align: center;
}

table.store-inventory-table tfoot>tr {
	border-top: solid 5ex transparent;
}

button.store-button {
	width: 80px;
	font-size: smaller;
	padding: 4px;
	text-transform: uppercase;
}

button.disabled-store-button {
	opacity: 0.6;
	cursor: not-allowed !important;
}

div.relic-item {
	width: 850px;
	margin-top: 3px;
	margin-bottom: 3px;
	border: 1px solid grey;
	padding: 5px 10px 5px 10px;
}

div.relic-item-name {
	display: inline-block;
	color: gold;
	font-weight: bold;
}

div.relic-create {
	width: 100px;
	float: right;
}

span.relic-effects-caption {
	color: cyan;
	font-weight: bold
}

div.relic-effects {
	padding-left: 1em;
	font-size: smaller
}

span.relic-recipe-caption {
	color: yellow;
	font-weight: bold
}

div.relic-recipe {
	padding-left: 1em;
	font-size: smaller
}
